*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}



/* UTILITY */

.debug{
    border: 1px solid black;
}

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.wrap{
    flex-wrap: wrap;
}
/* UTILITY */

/* HEADER  */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.menu-header{
    
    width: 100vw;
    z-index: 999;
    background-color: #0084FD;
    height: 80px;
    color: white;
}

.menu-header .container{
    height: 100%;
    
}

.logo{
    font-size: 2.5rem;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 30px;
}

.container .nav{
    margin-right: 30px;
}

.nav-hamburgher{
    font-size: 1.7rem;
    align-items: center;
}

.nav-hamburgher a{
    text-decoration: none;
    color: white;
}

.nav-desktop{
    display: none;
    
}
/* HEADER  */

/* MAIN  */

.demo .container{
    margin: 0 30px;
}

.container .row{
    width: 100%;
    margin-top: 30px;
    justify-content: center;
}

.row .card-large{
    width: 100%;
    height: 600px;
    background-color: aqua;
    margin-bottom: 30px;
}

.row .card-small{
    width: 100%;
    height: 360px;
    background-color: aqua;
    margin-bottom: 30px;
}

.strategic{
    background-color: #9792E4;
}

.strategic .container{
    margin: 0 30px;
}

.strategic .col1{
    width: 100%;
    height: 650px;
    background-color: red;
}
.strategic .col2{
    width: 100%;
    height: 600px;
    background-color: red;
    margin-bottom: 30px;
}

.testimonial .container{
    height: 100%;
    margin: 0 30px;
}
.testimonial .row{
    height: 100%;
}
  
.testimonial .col{
    height: 500px;
    width: 100%;
    margin-bottom: 30px;
    background-color: #9792E4;
}
.testimonial .col:nth-child(1){
    height: 340px;
    margin-bottom: 50px;
}
.testimonial .row:nth-child(1) .col{
    text-align: center;
}

.benefits{
    background-color: #9792E4;
}

.benefits .container{
    height: 100%;
    margin: 0 30px;
}

.benefits .row{
    height: 100%;
}

.benefits h2{
    text-align: center;
    margin-bottom: 70px;
}

.benefits .col{
    width: 100%;
    height: 420px;
    background-color: grey;
    margin-bottom: 30px;
}

.about .container{
    height: 100%;
    margin: 0 30px;
}

.about .row{
    height: 100%;
}

.about .col:nth-child(1){
    height: 950px;
    margin-bottom: 50px;
    margin-top: 70px;
}
.about .col:nth-child(2){
    height: 450px;
    margin-bottom: 80px;
}

.free{
    background-color: #9792E4;
}

.free .container{
    height: 100%;
    margin: 0 30px;
}

.free .text{
    height: 500px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: white;
}

footer{
    background-color: #333;
}

footer .container{
    margin: 0 30px;
}

.container .footer-text{
    height: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
}


/*************************************************

    RESPONSIVE

*************************************************/

@media screen and (min-width:768px){
    
    .container .row{
        justify-content: space-between;
    }

    .row .card-large{
        width: 65%;
    }

    .demo #larger{
        height: 600px;
    }

    .row .card-small{
        width: 30%;
        height: 435px;
    }

    .strategic .col1{
        height: 900px;
    }

    .strategic .col2{
        height: 840px;
    }

    .testimonial .col:nth-child(1){
        height: 200px;
    }

    .testimonial .col{
        height: 280px;
    }

    .benefits .row{
        display: flex;
        flex-wrap: wrap;
    }

    .benefits .col{
        width: 49%;
    }

    .about .row{
        display: flex;
        
    }

    .about .col:nth-child(1){
        width: 69%;
        height: 710px;
    }

    .about .col:nth-child(2){
        width: 30%;
        height: 520px;
        margin-top: 70px;
    }

    .free .text{
        width: 560px;
        margin: 0 auto;
    }

    .container .footer-text{
        width: 410px;
        margin: 0 auto;
    }

}

   

@media screen and (min-width:1200px){
    .row .card-large{
        height: 350px;
    }

    .demo #larger{
        height: 350px;
    }

    .demo .container{
        margin: 0 auto;
    }

    .logo{
        margin-left: 0;
    }
    
    .container .nav{
        margin-right: 0;
    }

    .strategic .col1{
        height: 740px;
    }

    .strategic .col2{
        margin-top: 20px;
        height: 560px;
    }

    .strategic .container{
        display: flex;
        align-items: flex-end;
        margin: 0 auto;
    }

    .testimonial .container{
        margin: 0 auto;
    }

    .benefits .col{
        width: 33%;
    }

    .benefits .container{
        margin: 0 auto;
    }

    .about .col:nth-child(1){
        height: 620px;
    }
    .about .col:nth-child(2){
        height: 530px;
    }

    .about .container{
        margin: 0 auto;
    }

    .free .container{
        margin: 0 auto;
    }

    .free .text{
        width: 560px;
    }
    
    footer .container{
        margin: 0 auto;
    }
    
}