*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}



/* UTILITY */

.debug{
    border: 1px solid black;
}

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.wrap{
    flex-wrap: wrap;
}
/* UTILITY */

/* HEADER  */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.menu-header{
    
    width: 100vw;
    z-index: 999;
    background-color: #0084FD;
    height: 80px;
    color: white;
}

.menu-header .container{
    height: 100%;
    
}

.logo{
    font-size: 2.5rem;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
}

.container .nav{
    margin-right: 20px;
}

.nav-hamburgher{
    font-size: 1.7rem;
    align-items: center;
}

.nav-hamburgher a{
    text-decoration: none;
    color: white;
}

.nav-desktop{
    display: none;
    
}
/* HEADER  */

/* MAIN  */

.demo .container{
    margin: 30px;
}

.container .row1, .container .row2{
    width: 100%;
    
}

.row1 .card-large{
    width: 60%;
    height: 600px;
    background-color: aqua;
    
}

.row1 .card-small{
    width: 40%;
    height: 360px;
    background-color: aqua;
    
}

.row2 .card-small{
    width: 40%;
    height: 360px;
    background-color: aqua;
    
}

/*************************************************

    RESPONSIVE

*************************************************/

@media screen and(min-width:768px){

}